# OS artifacts
.DS_Store
Thumbs.db
desktop.ini

# Node.js dependencies
node_modules/
npm-shrinkwrap.json

# VitePress site build output and cache
docs/.vitepress/cache/
docs/.vitepress/dist/

# Editors
*.swp
*.swo
.idea/

# Logs
*.log
